body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .draggable {
    
    height: 100vh;
  
    position: absolute;
    top: 0;
    user-select: none;
  }
  .inside-draggable{
    padding:10px;
  }
  #div1 {
    background-color: lightblue;
    left: 0;
    width: 20%;
  }
  #div3{
    background-color: green;
    right: 0;
    width: 40%;
  }
  #div2 {
    background-color: lightgreen;
    right: 0;
    width: 80%;
  }

  .middle-line {
    width: 6px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX(-50%);
    background-color: gray;
    cursor: ew-resize;
  }
  